<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Menu</h4>
        <div class="ui inverted link list">
          {% for item in site.data.navigation %}
            <a href="{{ item.link }}" class="item">{{ item.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Contact</h4>
        <div class="row">
          {{site.title}} <br/>
          {{site.company_address}}<br/><br/>
          <i class="mail square icon large"></i> <a class="item mail" href="mailto:{{site.email}}">{{site.email}}</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Subscribe to news</h4>
        <div class="row">

          <!-- Begin Mailchimp Signup Form -->

          <div id="mc_embed_signup">
            <form action="https://rtiarms.us18.list-manage.com/subscribe/post?u=40b48b4627be54da545262e48&amp;id=3220f74f36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
                  <button type="submit" class="btn btn-success">
                      <i class="small mail icon"></i>
                  </button>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40b48b4627be54da545262e48_3220f74f36" tabindex="-1" value=""></div>
                    <div class="clear"></div>
                </div>
            </form>
          </div>

          <!--End mc_embed_signup-->

        </div>
      </div>



      <div class="five wide right aligned column">
        <a class="ui large basic inverted circular icon button" href="{{site.facebook_link}}" target="_blank">
          <i class="large facebook icon"></i>
        </a>
        <a class="ui large basic inverted circular icon button" href="{{site.instagram_link}}" target="_blank">
          <i class="large instagram icon"></i>
        </a>
        <a class="ui large basic inverted circular icon button" href="mailto:{{site.email}}">
          <i class="large mail icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>
