<div class="pusher mora productheader">

    <div id="top" class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui text container fadein">
        <h1 class="ui inverted header">
          Mora
        </h1>
        <!-- <h2>Awesome punch line</h2> -->
        <!-- <div class="ui divider section hidden"></div> -->
        <!-- <a href="#first" class="ui massive inverted button scrolly">Get Started</a>
        <a href="#contact" class="ui massive inverted basic button scrolly">Contact us</a> -->
      </div>
      <img class="ui fluid image fadein" src="/images/mora/DSCF6514_trans.png"/>
      <span class="ui grey big tag label fadein">MSRP 2.269,00 €</span>
      <br/><footnote>Includes two magazines, M-Lok bottle shield, carbon bottle, Hušh 50 carbon silencer, without scope and bipod.</footnote>
        <div class="myth">
            <p>
                In Slovene mora refers to a "nightmare". 
                Mora is one of the spirits from ancient Slav mythology. 
                Mora was a dark spirit that takes a form of a beautiful woman and then visits men in their dreams, 
                torturing them with desire, and dragging life out of them.
            </p>
        </div>
    </div>
  
  
<!--   
    <div id="first" class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
          <div class="eight wide column">
            <h3 class="ui header">Winner of 50 yard at Extreme Benchrest 2019 </h3>
            <p>
              Previous generation Prophet beat all its competitors at Extreme Benchrest competition in Phoenix, Arizona, USA in 2019.
            </p>
          </div>
          <div class="six wide right floated column">
            <a href="/images/prophet/IMG_20191013_155318_full.jpg" data-lightbox="image-IMG_20191013_155318">
              <img src="/images/prophet/IMG_20191013_155318.jpg" class="ui bordered rounded image" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div id="second" class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
          <div class="six wide left floated column">
            <a href="/images/prophet/IMG_20191013_074939_414_full.jpg" data-lightbox="image-IMG_20191013_074939_414">
              <img src="/images/prophet/IMG_20191013_074939_414.jpg" class="ui bordered rounded image" alt="">
            </a>
  
          </div>
          <div class="eight wide column">
            <h3 class="ui header">Highest score at 75 yard EBR</h3>
            <p class="desc">
              Previous generation Prophet acheived all time high score at 75 yard, 240 points out of 250 points with 10 X's at EBR 2019.
            </p>
            <p class="desc">
              Second Prophet shooter had 234 points with 8 X's and third Prophet shooter had 233 with 7 X's.
            </p>
          </div>
        </div>
      </div>
    </div>
   -->
  
    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>Multi Calibers</h3>
            <p>Mora is available in 4.5 (.177), 5.5 (.22), 6.35 (.25), 7.62 (.30), 9 (.35) calibers and arrow barrel.</p>
          </div>
          <div class="column">
            <h3>What's included?</h3>
            <p class="desc">
                Two magazines, carbon bottle and carbon shroud comes in as standard.
              In Compact and Standard configuration, M-Lok bottle shield is included.
              </br></br>
              Mora comes with an industry grade heavy duty transport hard case with hard foam cutout with plenty of room.
            </p>
          </div>
          <div class="column">
            <h3>New RPB Barrels</h3>
            <p class="desc">
              Mora in cal .22 and .25 is equipped with RTI's Proprietary Barrel which assures superb accuracy with pellets and slugs. 
              Barrels are compatible with P-3 platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    
  
    <div id="second" class="ui vertical stripe segment inverted bg-style">
      <div class="ui center aligned equal widths stackable grid container">
        <div class="column top-wrapper">
            <img class="ui centered medium image circular" src="/images/mora/DSCF6654.jpg" alt="">
  
  
          <h3 class="ui inverted header">M-Lok compatible holes</h3>
          <p class="desc">
            Mora's Breech block is equipped with M-Lok compatible holes one can mount different M-Lok accessories such as picatinny rail. 
            This feature can also be found under the trigger guard.
          </p>
        </div>
        <div class="column top-wrapper">
          <img class="ui centered medium image circular" src="/images/mora/DSCF6588.jpg" alt="">
          <h3 class="ui inverted header">125ccm Plenum</h3>
          <p class="desc">
            Breech block with integrated 125 ccm Plenum together with the new externally adjustable Assisted valve gives great energy output and efficiency.
          </p>
        </div>
        <div class="column top-wrapper">
          <img class="ui centered medium image circular" src="/images/mora/DSCF6553.jpg" alt="">
          <h3 class="ui inverted header">Adjustable Assisted Valve</h3>
          <p class="desc">
            Mora comes with the externally adjusted assisted valve system which uses air from the barrel to close faster. Rapid opening and closing helps with great energies at low pressure and great efficiency.
            Due to the valve being externally adjustable, dwell time can be adjusted for best performance.
          </p>
        </div>
        <div class="column top-wrapper">
          <img class="ui centered medium image circular" src="/images/mora/DSCF6559.jpg" alt="">
          <h3 class="ui inverted header">Externally Adjustable Regulator</h3>
          <p class="desc">
            Mora comes with the twin regulation. Second stage is externally adjustable. It can regulate from 50 bar to 200 bar.
          </p>
        </div>
      </div>
    </div>
  
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h3>Mora Compact</h3>
              <a href="/images/mora/gallery/full/DSCF6500.jpg" data-lightbox="gallery-compact" data-title="RTI Mora Compact without a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6500.jpg" alt="">
              </a>
              <a href="/images/mora/gallery/full/DSCF6542.jpg" data-lightbox="gallery-compact" data-title="RTI Mora Compact without a silencer and M-Lok shield.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6542.jpg" alt="">
              </a>
              <a href="/images/mora/gallery/full/DSCF6508.jpg" data-lightbox="gallery-compact" data-title="RTI Mora Compact with a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6508.jpg" alt="">
              </a>
              <p>Mora Compact comes with 500mm/20" barrel, 500ccm carbon fiber bottle, two magazines, Hušh 50 carbon silencer, M-Lok bottle shield and heavy duty hard case.</p>
            </div>
            <div class="column">
              <h3>Mora Standard</h3>
              <a href="/images/mora/gallery/full/DSCF6480.jpg" data-lightbox="gallery-standard" data-title="RTI Mora Standard without a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6480.jpg" alt="">
              </a>
              <a href="/images/mora/gallery/full/DSCF6490.jpg" data-lightbox="gallery-standard" data-title="RTI Mora Standard without a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6490.jpg" alt="">
              </a>
              <a href="/images/mora/gallery/full/DSCF6492.jpg" data-lightbox="gallery-standard" data-title="RTI Mora Standard with a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6492.jpg" alt="">
              </a>
              <p>Mora Standard comes with 600mm/24" barrel, 700ccm carbon fiber bottle, two magazines, Hušh 50 carbon silencer, M-Lok bottle shield and heavy duty hard case.</p>
            </div>
            <div class="column">
              <h3>Mora Sniper</h3>
              <a href="/images/mora/gallery/full/DSCF6522.jpg" data-lightbox="gallery-sniper" data-title="RTI Mora Sniper without a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6522.jpg" alt="">
              </a>
              <a href="/images/mora/gallery/full/DSCF6526.jpg" data-lightbox="gallery-sniper" data-title="RTI Mora Sniper without a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6526.jpg" alt="">
              </a>
              <a href="/images/mora/gallery/full/DSCF6530.jpg" data-lightbox="gallery-sniper" data-title="RTI Mora Sniper with a silencer.">
                <img class="ui centered medium image" src="/images/mora/gallery/small/DSCF6530.jpg" alt="">
              </a>
              <p>Mora Sniper comes with 700mm/28" barrel, 1100ccm carbon fiber bottle, two magazines, Hušh 50 carbon silencer and heavy duty hard case.</p>
            </div>
          </div>
        </div>
      </div>

    <!-- <div id="second" class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
          <div class="six wide left floated column">
            <a href="/images/prophet2/IMG_20220314_125722_full.jpg" data-lightbox="IMG_20220314_125722_full">
              <img class="ui bordered rounded image" src="/images/prophet2/IMG_20220314_125722.jpg" alt="">
            </a>
          </div>
          <div class="eight wide column">
            <h3 class="ui header">Standard Edition</h3>
            <p class="desc">
              P-3 standard edition with fixed regulator, Alu bottle, adjustable hammer spring tension by clicks and adjustable 20-150 MOA picatinny rail. Tan Cerakoted colour is available as an extra.
            </p>
          </div>
        </div>
      </div> -->
  
    <div id="second" class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
  
          <div class="eight wide column">
            <h3 class="ui header">Integrally Suppressed</h3>
            <p class="desc">
                Mora is integrally suppressed (for the markets where it is allowed) with the monocore design. 
                Mora also comes with the additional suppressor already included, for those who want to be extra quiet.
            </p>
          </div>
          <div class="six wide right floated column">
            <img class="ui bordered rounded image" src="/images/mora/DSCF6618.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
          <div class="six wide left floated column">
            <img class="ui bordered rounded image" src="/images/mora/DSCF6567.jpg" alt="">
          </div>
          <div class="eight wide column">
            <h3 class="ui header">Truly Free Floating Barrel Optional</h3>
            <p class="desc">
              We have designed Mora with great accuracy in mind. The barrel can either be truly free floating or it can be locked in place below the scope area.
              What ever suits your needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
  
          <div class="eight wide column">
            <h3 class="ui header">Witness Holes</h3>
            <p class="desc">
              Mora includes a smart feature where each hole corresponds to one specific oring in the rifle. If there is a leak, you can detect 
              exactly which oring is leaking from the outside.
              <br/><br/>
              Valve on Mora is set in such a way, so it can easily be removed without disassembling anything else on the rifle. You can easily take out the whole
              valve assembly.
            </p>
          </div>
          <div class="five wide right floated column">
            <img class="ui bordered rounded image" src="/images/mora/DSCF6588-2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div id="second" class="ui vertical stripe segment inverted bg-style">
      <div class="ui center aligned equal widths stackable grid container">
        <div class="column top-wrapper">
          <img class="ui centered medium image circular" src="/images/mora/DSCF6614.jpg" alt="">
          <h3 class="ui inverted header">Inter-changeable Calibers</h3>
          <p class="desc">
            Calibers can be easily and quickly interchanged.
          </p>
        </div>
        <div class="column top-wrapper">
            <img class="ui centered medium image circular" src="/images/mora/DSCF6598.jpg" alt="">
          <h3 class="ui inverted header">Ambidextrous Mag</h3>
          <p class="desc">
            Smart design of a magazine allows it to be rotated to the other side so it is lefty or righty friendly.
          </p>
        </div>
        <div class="column top-wrapper">
            <img class="ui centered medium image circular" src="/images/mora/DSCF6170.jpg" alt="">
          <h3 class="ui inverted header">Suppressor ready & included</h3>
          <p class="desc">
            Mora is supressor ready and also comes with Hušh 50 Carbon Suppressor already included.
          </p>
        </div>
        <div class="column top-wrapper">
            <img class="ui centered medium image circular" src="/images/mora/DSCF6581.jpg" alt="">
          <h3 class="ui inverted header">Adjustable Trigger</h3>
          <p class="desc">
            First and second stage of the trigger can be easily adjusted down to 200g.
          </p>
        </div>
      </div>
    </div>
  
  
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row top-wrapper">
  
          <div class="eight wide column">
            <h3 class="ui header">Heavy Duty Case</h3>
            <p class="desc">
                Mora comes with an industry grade heavy duty transport hard case with hard foam cutout with plenty of room for accessories.
            </p>
  
          </div>
          <div class="six wide right floated column">
            <img class="ui bordered rounded image" src="/images/mora/DSCF6667.jpg" alt="">
          </div>
  
        </div>
      </div>
    </div>
  
  
    <div id="third" class="ui vertical stripe segment inverted bg-style">
      <div class="ui equal widths stackable grid container technicalinfo">
        <!-- <div class="row">
          <img class="ui fluid rounded image" src="/images/pic07.jpg" alt="">
        </div> -->
        <div class="row">
          <h3 class="ui inverted header">Technical information
            <div><footnote>*Data are related between eachother, e.g. in .22 caliber at 180 bar you get 90J and 35 shots with 500ccm.<br/>
            <div class="ui toggle checkbox">
              <input type="checkbox" name="units">
              <label>Metric/Imperial</label>
            </div>
            </footnote></div>
          </h3>
  
          <table class="ui definition table unstackable inverted selectable ">
            <tbody>
              <tr>
                <td>
                  Caliber
                  <div class="toggleunits metric">mm</div>
                  <div class="toggleunits imperial hidden">inch</div>
                </td>
                <td class="center aligned">
                  <span class="toggleunits metric">4.5</span>
                  <span class="toggleunits imperial hidden">.177</span>
                </td>
                <td class="center aligned">
                  <span class="toggleunits metric">5.5</span>
                  <span class="toggleunits imperial hidden">.22</span>
                </td>
                <td class="center aligned">
                  <span class="toggleunits metric">6.35</span>
                  <span class="toggleunits imperial hidden">.25</span>
                </td>
                <td class="center aligned">
                  <span class="toggleunits metric">7.62</span>
                  <span class="toggleunits imperial hidden">.30</span>
                </td>
                <td class="center aligned">
                    <span class="toggleunits metric">9</span>
                    <span class="toggleunits imperial hidden">.35</span>
                  </td>
              </tr>
              <tr>
                <td>
                  Energy*
                  <div class="toggleunits metric">Joules</div>
                  <div class="toggleunits imperial hidden">Ft/lbs</div>
                  <br/>
                  <footnote>Rifle can also be bought in 7J, 16J, 20J or 24J</footnote>
                </td>
                <td class="center aligned">
                  <span class="toggleunits metric">30 - 50</span>
                  <span class="toggleunits imperial hidden">22 - 37</span>
                </td>
                <td>
                  <span class="toggleunits metric">45 - 90</span>
                  <span class="toggleunits imperial hidden">35 - 65</span>
                </td>
                <td>
                  <span class="toggleunits metric">60 - 105</span>
                  <span class="toggleunits imperial hidden">44 - 77</span>
                </td>
                <td>
                  <span class="toggleunits metric">65 - 135</span>
                  <span class="toggleunits imperial hidden">48 - 100</span>
                </td>
                <td>
                    <span class="toggleunits metric">65 - 135</span>
                    <span class="toggleunits imperial hidden">48 - 100</span>
                  </td>
              </tr>
              <tr>
                <td>
                  Regulated pressure*
                  <div>Bar</div>
                  <div>PSI</div>
                </td>
                <td colspan="5" class="center aligned">
                  80 - 180 bar<br/>1150 - 2600 PSI
                </td>
              </tr>
              <tr>
                <td>Shots per fill*
                  <div>Compact 500ccm</div>
                </td>
                <td class="center aligned">
                  120 - 20
                </td>
                <td class="center aligned">
                  100 - 25
                </td>
                <td class="center aligned">
                  90 - 20
                </td>
                <td class="center aligned">
                  80 - 16
                </td>
                <td class="center aligned">
                    80 - 16
                </td>
              </tr>
              <tr>
                <td>Shots per fill*
                  <div>Standard 700ccm</div>
                </td>
                <td class="center aligned">
                  180 - 38
                </td>
                <td class="center aligned">
                  170 - 35
                </td>
                <td class="center aligned">
                  160 - 30
                </td>
                <td class="center aligned">
                  150 - 25
                </td>
                <td class="center aligned">
                    150 - 25
                </td>
              </tr>
              <tr>
                <td>Shots per fill*
                  <div>Sniper 1100ccm</div>
                </td>
                <td class="center aligned">
                  180 - 38
                </td>
                <td class="center aligned">
                  170 - 35
                </td>
                <td class="center aligned">
                  160 - 30
                </td>
                <td class="center aligned">
                  150 - 25
                </td>
                <td class="center aligned">
                    150 - 25
                </td>
              </tr>
              <tr>
                <td>Max filling pressure</td>
                <td colspan="5" class="center aligned">300 bar (4350 PSI)</td>
              </tr>
              <tr>
                <td>Plenum Volume</td>
                <td colspan="5" class="center aligned">125 ccm</td>
              </tr>
              <tr>
                <td>Bottle</td>
                <td colspan="5" class="center aligned">Carbon fiber or Aluminium bottle</td>
              </tr>
              <tr>
                <td>Magazine capacity</td>
                <td class="center aligned">14</td>
                <td class="center aligned">11</td>
                <td class="center aligned">10</td>
                <td class="center aligned">7</td>
                <td class="center aligned">7</td>
              </tr>
              <tr>
                <td>Max pellet length in magazine<br/>
                  <footnote>which still fits in the magazine (all calibers)</footnote>
                </td>
                <td colspan="5" class="center aligned">15 mm</td>
              </tr>
              <tr>
                <td>Max pellet length single shot<br/>
                  <footnote>which can fit in to the barrel without the magazine (all calibers)</footnote>
                </td>
                <td colspan="5" class="center aligned">16 mm</td>
              </tr>
              <tr>
                <td>Trigger</td>
                <td colspan="5" class="center aligned">2 stage, adjustable down to 200 g</td>
              </tr>
              <tr>
                <td>Cocking system</td>
                <td colspan="5" class="center aligned">Side lever</td>
              </tr>
              <tr>
                <td>Grip</td>
                <td colspan="5" class="center aligned">Standard AR15 grip</td>
              </tr>
              <tr>
                <td>
                    Barrel
                    <div>Compact (50cm/20")</div>
                </td>
                <td class="center aligned">
                    24", 1:17,7", choked
                </td>
                <td class="center aligned">
                    RPB 24", 1:16", light choke
                </td>
                <td class="center aligned">
                    RPB 24", 1:20", light choke
                </td>
                <td class="center aligned">
                    LW 24", 1:16", choked
                </td>
                <td class="center aligned">
                    LW 24", 1:16", choked
                </td>
              </tr>
              <tr>
                <td>
                    Barrel
                    <div>Compact (60cm/24")</div>
                </td>
                <td class="center aligned">
                    24", 1:17,7", choked
                </td>
                <td class="center aligned">
                    RPB 24", 1:16", light choke
                </td>
                <td class="center aligned">
                    RPB 24", 1:20", light choke
                </td>
                <td class="center aligned">
                    LW 24", 1:16", choked
                </td>
                <td class="center aligned">
                    LW 24", 1:16", choked
                </td>
              </tr>
              <tr>
                <td>
                    Barrel
                    <div>Compact (70cm/28")</div>
                </td>
                <td class="center aligned">
                    24", 1:17,7", choked
                </td>
                <td class="center aligned">
                    RPB 24", 1:16", light choke
                </td>
                <td class="center aligned">
                    RPB 24", 1:20", light choke
                </td>
                <td class="center aligned">
                    LW 24", 1:16", choked
                </td>
                <td class="center aligned">
                    LW 24", 1:16", choked
                </td>
              </tr>
              <tr>
                <td>Arrow Barrel</td>
                <td colspan="5" class="center aligned">Available as an addition (Arrows X7 2212)</td>
              </tr>
              <tr>
                <td>Caliber Kits</td>
                <td colspan="5" class="center aligned">Different caliber kits can be bought as an addition so you can
                easily change a caliber of your rifle</td>
              </tr>
              <tr>
                <td>Safety</td>
                <td colspan="5" class="center aligned">Yes - Locks hammer in place</td>
              </tr>
              <tr>
                <td>Optics</td>
                <td colspan="5" class="center aligned">Picatinny rail, adjustable, 20-150 MOA</td>
              </tr>
              <tr>
                <td>Picatinny rail length</td>
                <td colspan="5" class="center aligned">190 mm (18 slots)</td>
              </tr>
              <tr>
                <td>Pressure gauge</td>
                <td colspan="5" class="center aligned">On the bottle which shows pressure in the bottle</td>
              </tr>
              <tr>
                <td>Total length
                    <div>Compact</div>
                    <div>Standard</div>
                    <div>Sniper</div>
                </td>
                <td colspan="5" class="center aligned">
                    <div>790 mm (31")</div>
                    <div>790 mm (31")</div>
                    <div>790 mm (31")</div>
                </td>
              </tr>
              <tr>
              <tr>
                <td>Height</td>
                <td colspan="5" class="center aligned">175 mm</td>
              </tr>
              <tr>
                <td>Width</td>
                <td colspan="5" class="center aligned">35 mm</td>
              </tr>
              <tr>
                <td>Bottle diameter
                    <div>Compact 500ccm</div>
                    <div>Standard 700ccm</div>
                    <div>Sniper 1100ccm</div>
                </td>
                <td colspan="5" class="center aligned">
                    <div>60 mm (2,36")</div>
                    <div>60 mm (2,36")</div>
                    <div>60 mm (2,36")</div>
                </td>
              </tr>
              <tr>
                <td>Weight
                    <div>Compact</div>
                    <div>Standard</div>
                    <div>Sniper</div>
                </td>
                <td colspan="5" class="center aligned">
                  <div>3300 g (7,3 lbs)</div>
                  <div>3300 g (7,3 lbs)</div>
                  <div>3300 g (7,3 lbs)</div>
                </td>
              </tr>
              <tr>
                <td>Charging type</td>
                <td colspan="5" class="center aligned">Foster coupling</td>
              </tr>
          </tbody></table>
  
        </div>
      </div>
    </div>
  
  
  
  
    <!-- <div class="ui vertical stripe segment">
      <div class="ui center aligned text container">
        <div class="ui massive header">Advanced</div>
        <p>Advanced planning and testing.</p>
      </div>
    </div> -->
  
    <div id="sixth" class="ui vertical stripe segment bg-style gallery">
      <div class="ui container">
  
        <div class="ui three stackable cards">
          {% for image in site.static_files %}
            {% if image.path contains 'images/mora/gallery/small/' %}
              <div class="card">
                <div class="image">
                  <a href="/images/mora/gallery/full/{{ image.name }}" data-lightbox="gallery">
                    <img class="" src="{{ image.path }}" alt="">
                  </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  