<main-nav>
  <!-- hamburger icon -->
  <responsive-nav>
    <!-- hamburger icon -->
    <a href="#" class="hamburger">
      <div class="ui black big launch right attached button">
        <i class="icon list layout"></i>
      </div>
    </a>
  </responsive-nav>

  <div class="ui menu fixed">
    <a href="/" class="item home">
      <img src="/images/logo-lynx-text.png"/>
    </a>
    {% for item in site.data.navigation %}
      {% if item.sub %}
        <div class="ui pointing dropdown link item">
          <span class="text">{{ item.name }}</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            {% for sub in item.sub %}
              <a href="{{ sub.link }}" {% if page.url == sub.link %}class="item active"{% else %}class="item"{% endif %}>{{ sub.name }}</a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="item active"{% else %}class="item"{% endif %}>{{ item.name }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
      {% for item in site.data.navigation %}
        {% if item.sub %}
          <a href="{{ item.link }}" {% if page.url == item.link %}class="item active parent"{% else %}class="item parent"{% endif %}>{{ item.name }}</a>
          <div>
          {% for sub in item.sub %}
            <a href="{{ sub.link }}" {% if page.url == item.link %}class="item active"{% else %}class="item"{% endif %}>&nbsp;&nbsp;&nbsp;-{{ sub.name }}</a>
          {% endfor %}
          </div>
        {% else %}
          <a href="{{ item.link }}" {% if page.url == item.link %}class="item active"{% else %}class="item"{% endif %}>{{ item.name }}</a>
        {% endif %}
      {% endfor %}
  </div>
</main-nav>
