<div class="pusher prophet productheader">

  <div id="top" class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container fadein">
      <h1 class="ui inverted header">
        PROPHET II
      </h1>
      <!-- <h2>Awesome punch line</h2> -->
      <!-- <div class="ui divider section hidden"></div> -->
      <!-- <a href="#first" class="ui massive inverted button scrolly">Get Started</a>
      <a href="#contact" class="ui massive inverted basic button scrolly">Contact us</a> -->
    </div>
    <img class="ui fluid image fadein" src="/images/prophet2/prophetii-tran.png"/>
    <span class="ui grey big tag label fadein">MSRP 1.349,00 €</span>
    <br/><footnote>With Alu bottle, fixed reg, classic buttpad, without bag rider, scope, rail extension, suppressor and bipod.</footnote>
  </div>



  <div id="first" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">
        <div class="eight wide column">
          <h3 class="ui header">Winner of 50 yard at Extreme Benchrest 2019 </h3>
          <p>
            Previous generation Prophet beat all its competitors at Extreme Benchrest competition in Phoenix, Arizona, USA in 2019.
          </p>
        </div>
        <div class="six wide right floated column">
          <a href="/images/prophet/IMG_20191013_155318_full.jpg" data-lightbox="image-IMG_20191013_155318">
            <img src="/images/prophet/IMG_20191013_155318.jpg" class="ui bordered rounded image" alt="">
          </a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="center aligned column">
          <a href="#second" class="ui huge button scrolly">Check Them Out</a>
        </div>
      </div> -->
    </div>
  </div>

  <div id="second" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">
        <div class="six wide left floated column">
          <a href="/images/prophet/IMG_20191013_074939_414_full.jpg" data-lightbox="image-IMG_20191013_074939_414">
            <img src="/images/prophet/IMG_20191013_074939_414.jpg" class="ui bordered rounded image" alt="">
          </a>

        </div>
        <div class="eight wide column">
          <h3 class="ui header">Highest score at 75 yard EBR</h3>
          <p class="desc">
            Previous generation Prophet acheived all time high score at 75 yard, 240 points out of 250 points with 10 X's at EBR 2019.
          </p>
          <p class="desc">
            Second Prophet shooter had 234 points with 8 X's and third Prophet shooter had 233 with 7 X's.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>Multi Calibers</h3>
          <p>Prophet II is available in 4.5 (.177), 5.5 (.22), 6.35 (.25), 7.62 (.30) calibers and arrow barrel.</p>
        </div>
        <div class="column">
          <h3>What's included?</h3>
          <p class="desc">
            In standard configuration, Alu bottle, fixed reg, classic buttpad and 20 MOA picatinny rail.
            </br></br>
            Performance package includes Carbon fiber bottle, externally adjustable pressure regulator, adjustable hammer spring tension. MSRP for Performance is 1.799,00 €.
          </p>
        </div>
        <div class="column">
          <h3>New RPB Barrels</h3>
          <p class="desc">
            Prophet II in cal .22 and .25 is equipped with RTI's Proprietary Barrel which assures superb accuracy with pellets and slugs.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div id="second" class="ui vertical stripe segment inverted bg-style">
    <div class="ui center aligned equal widths stackable grid container">
      <div class="column top-wrapper">
          <img class="ui centered medium image circular" src="/images/prophet2/DSCF3942.jpg" alt="">


        <h3 class="ui inverted header">Side lever cocking</h3>
        <p class="desc">
          Tactical side lever cocking mechanism, placed on front left side for easy
          access and fast repetition.
        </p>
      </div>
      <div class="column top-wrapper">
        <img class="ui centered medium image circular" src="/images/prophet2/DSCF3938.jpg" alt="">
        <h3 class="ui inverted header">70ccm Plenum</h3>
        <p class="desc">
          New Breech block with integrated 70ccm Plenum together with new Assisted valve gives great energy output.
        </p>
      </div>
      <div class="column top-wrapper">
        <img class="ui centered medium image circular" src="/images/prophet2/DSCF3999.jpg" alt="">
        <h3 class="ui inverted header">Assisted Valve</h3>
        <p class="desc">
          Prophet II comes with new valve system which uses air from the barrel to close faster. It opens from zero to full in 1ms. This means Prophet II can reach great energies at low pressure with great efficiency.
        </p>
      </div>
      <div class="column top-wrapper">
        <a href="/images/priest/DSC_0064_full.jpg" data-lightbox="image-vertical-1">
          <img class="ui centered medium image circular" src="/images/prophet2/DSCF4060.jpg" alt="">
        </a>
        <h3 class="ui inverted header">Externally Adjustable Regulator</h3>
        <p class="desc">
          Prophet II Performance comes with the pressure regulator which can be adjusted from the outside using simple tool. It can regulate from 80 bar to 180 bar.
        </p>
      </div>
    </div>
  </div>

  <div id="second" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">
        <div class="six wide left floated column">
          <a href="/images/prophet2/IMG_20220314_125722_full.jpg" data-lightbox="IMG_20220314_125722_full">
            <img class="ui bordered rounded image" src="/images/prophet2/IMG_20220314_125722.jpg" alt="">
          </a>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">Standard Edition</h3>
          <p class="desc">
            On the image you can see standard setup of the Prophet which comes with fixed regulator, aluminium bottle, fixed stock/buttpad and 20 MOA picatinny rail. Tan Cerakoted colour is available as an extra.
          </p>
        </div>
      </div>
    </div>

  <div id="second" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">

        <div class="eight wide column">
          <h3 class="ui header">Performance Edition</h3>
          <p class="desc">
            Performance package includes Carbon fiber bottle, externally adjustable pressure regulator, adjustable hammer spring tension. Tan Cerakoted colour is available as an extra.
          </p>
        </div>
        <div class="six wide right floated column">
          <a href="/images/prophet2/ProphetIIperformance_full.jpg" data-lightbox="ProphetIIperformance_full">
            <img class="ui bordered rounded image" src="/images/prophet2/ProphetIIperformance.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="third" class="ui vertical stripe segment inverted bg-style">
    <div class="ui equal widths stackable grid container">
      <!-- <div class="row">
        <img class="ui fluid rounded image" src="/images/pic07.jpg" alt="">
      </div> -->
      <div class="row">
        <h3 class="ui inverted header">Addons</h3>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment" id="pbreg">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">

        <div class="eight wide column">
          <h3 class="ui header">Externally Adjustable Pressure Regulator</h3>
          <p class="desc">
            To satisfy the most advanced shooters, we have developed a new pressure regulator for Priest/Prophet series
            which allows the shooter to adjust pressure externally without having to empty the tank.
          </p>
          <p>
            Pressure can be regulated from 80 bar to 180 bar.
          </p>
        </div>
        <div class="six wide right floated column">
          <a href="/images/pbreg/IMG_20200213_203335-Edit_full.jpg" data-lightbox="IMG_20200213_203335">
            <img class="ui bordered rounded image" src="/images/pbreg/IMG_20200213_203335-Edit.jpg" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">
        <div class="six wide left floated column">
          <a href="/images/prophet2/DSCF3946.jpg" data-lightbox="DSCF3946">
            <img class="ui bordered rounded image" src="/images/prophet2/DSCF3946.jpg" alt="">
          </a>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">RTI Prophet/Priest Bipod Rail Extension with Arca Swiss Dovetail, Picatinny rail</h3>
          <p class="desc">
            In order to get greater accuracy, bipod should be mounted as far forwarder as possible. With Bipod Rail Extension you can now do that.
          </p>
          <p>It also includes Arca Swiss dovtail for tripods and T slot for accessories.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">

        <div class="eight wide column">
          <h3 class="ui header">Bag Rider</h3>
          <p class="desc">
            A lot of shooters asked us to make a Bag Rider to be able to get more
            stable platform when shooting.
          </p>
          <p class="desc">
            Bag Rider is made from lightweight aluminium and is compatible with older versions as well.
          </p>
        </div>
        <div class="five wide right floated column">
          <a href="/images/prophet2/DSCF3936.jpg" data-lightbox="DSCF3936">
            <img class="ui bordered rounded image" src="/images/prophet2/DSCF3936.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">
        <div class="six wide left floated column">
          <a href="/images/prophet2/DSCF4087.jpg" data-lightbox="DSCF4087">
            <img class="ui bordered rounded image" src="/images/prophet2/DSCF4087.jpg" alt="">
          </a>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">RTI Hušh Suppressors Alu Tac or Carbon</h3>
          <p class="desc">
            RTI Hušh is a brand new suppressor for airguns. It comes in tactical black anodised aluminium or pure carbon fiber tube.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="second" class="ui vertical stripe segment inverted bg-style">
    <div class="ui center aligned equal widths stackable grid container">
      <div class="column top-wrapper">
        <img class="ui centered medium image circular" src="/images/priest/DSCN2668.jpg" alt="">
        <h3 class="ui inverted header">Inter-changeable Calibers</h3>
        <p class="desc">
          Calibers can be easily and quickly interchanged.
        </p>
      </div>
      <div class="column top-wrapper">
        <img class="ui centered medium image circular" src="/images/prophet2/DSCF3906.jpg" alt="">
        <h3 class="ui inverted header">Ambidextrous Mag</h3>
        <p class="desc">
          Smart design of a magazine allows it to be rotated to the other side so it is lefty or righty friendly.
        </p>
      </div>
      <div class="column top-wrapper">
        <img class="ui centered medium image circular" src="/images/prophet2/DSCF4087.jpg" alt="">
        <h3 class="ui inverted header">Suppressor ready</h3>
        <p class="desc">
          For those who want to add a <a href="/hush"> Hušh suppressor</a>, there's a 1/2" UNF thread under the cap.
        </p>
      </div>
      <div class="column top-wrapper">
        <img class="ui centered medium image circular" src="/images/priest/2016_08_12_The-Priest_04.jpg" alt="">
        <h3 class="ui inverted header">Adjustable Trigger</h3>
        <p class="desc">
          First and second stage of the trigger can be easily adjusted down to 200g.
        </p>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row top-wrapper">

        <div class="eight wide column">
          <h3 class="ui header">Powerful and Efficient</h3>
          <p class="desc">
            Prophet II with 500ccm bottle achieves consistent 45J in caliber 5.5 (.22) throughout its whole bottle capacity which yields out
            170 shots. At 180 bar it can acheive 90 joules in caliber 5.5 (.22).
          </p>

        </div>
        <div class="six wide right floated column">
          <a href="/images/priest/chrony.png" data-lightbox="chrony_full">
            <img class="ui bordered rounded image" src="/images/priest/chrony.png" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>


  <div id="third" class="ui vertical stripe segment inverted bg-style">
    <div class="ui equal widths stackable grid container technicalinfo">
      <!-- <div class="row">
        <img class="ui fluid rounded image" src="/images/pic07.jpg" alt="">
      </div> -->
      <div class="row">
        <h3 class="ui inverted header">Technical information
          <div><footnote>*Data are related between eachother, e.g. in .22 caliber at 180 bar you get 90J and 35 shots with 500ccm.<br/>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="units">
            <label>Metric/Imperial</label>
          </div>
          </footnote></div>
        </h3>

        <table class="ui definition table unstackable inverted selectable ">
          <tbody>
            <tr>
              <td>
                Caliber
                <div class="toggleunits metric">mm</div>
                <div class="toggleunits imperial hidden">inch</div>
              </td>
              <td class="center aligned">
                <span class="toggleunits metric">4.5</span>
                <span class="toggleunits imperial hidden">.177</span>
              </td>
              <td class="center aligned">
                <span class="toggleunits metric">5.5</span>
                <span class="toggleunits imperial hidden">.22</span>
              </td>
              <td class="center aligned">
                <span class="toggleunits metric">6.35</span>
                <span class="toggleunits imperial hidden">.25</span>
              </td>
              <td class="center aligned">
                <span class="toggleunits metric">7.62</span>
                <span class="toggleunits imperial hidden">.30</span>
              </td>
            </tr>
            <tr>
              <td>
                Energy*
                <div class="toggleunits metric">Joules</div>
                <div class="toggleunits imperial hidden">Ft/lbs</div>
                <br/>
                <footnote>Rifle can also be bought in 7J, 16J, 20J or 24J</footnote>
              </td>
              <td class="center aligned">
                <span class="toggleunits metric">30 - 50</span>
                <span class="toggleunits imperial hidden">22 - 37</span>
              </td>
              <td>
                <span class="toggleunits metric">45 - 90</span>
                <span class="toggleunits imperial hidden">35 - 65</span>
              </td>
              <td>
                <span class="toggleunits metric">60 - 105</span>
                <span class="toggleunits imperial hidden">44 - 77</span>
              </td>
              <td>
                <span class="toggleunits metric">65 - 135</span>
                <span class="toggleunits imperial hidden">48 - 100</span>
              </td>
            </tr>
            <tr>
              <td>
                Regulated pressure*
                <div>Bar</div>
                <div>PSI</div>
              </td>
              <td colspan="4" class="center aligned">
                80 - 180 bar<br/>1150 - 2600 PSI
              </td>
            </tr>
            <tr>
              <td>Shots per fill*
                <div>320ccm</div>
              </td>
              <td class="center aligned">
                120 - 20
              </td>
              <td class="center aligned">
                100 - 25
              </td>
              <td class="center aligned">
                90 - 20
              </td>
              <td class="center aligned">
                80 - 16
              </td>
            </tr>
            <tr>
              <td>Shots per fill*
                <div>500ccm</div>
              </td>
              <td class="center aligned">
                180 - 38
              </td>
              <td class="center aligned">
                170 - 35
              </td>
              <td class="center aligned">
                160 - 30
              </td>
              <td class="center aligned">
                150 - 25
              </td>
            </tr>
            <tr>
              <td>Max filling pressure</td>
              <td colspan="4" class="center aligned">300 bar (4350 PSI)</td>
            </tr>
            <tr>
              <td>Plenum Volume</td>
              <td colspan="4" class="center aligned">70 ccm</td>
            </tr>
            <tr>
              <td>Bottle</td>
              <td colspan="4" class="center aligned">Carbon fiber or Aluminium bottle</td>
            </tr>
            <tr>
              <td>Magazine capacity</td>
              <td class="center aligned">14</td>
              <td class="center aligned">12</td>
              <td class="center aligned">10</td>
              <td class="center aligned">7</td>
            </tr>
            <tr>
              <td>Max pellet length in magazine<br/>
                <footnote>which still fits in the magazine (all calibers)</footnote>
              </td>
              <td colspan="4" class="center aligned">15 mm</td>
            </tr>
            <tr>
              <td>Max pellet length single shot<br/>
                <footnote>which can fit in to the barrel without the magazine (all calibers)</footnote>
              </td>
              <td colspan="4" class="center aligned">16 mm</td>
            </tr>
            <tr>
              <td>Trigger</td>
              <td colspan="4" class="center aligned">2 stage, adjustable down to 200 g</td>
            </tr>
            <tr>
              <td>Cocking system</td>
              <td colspan="4" class="center aligned">Side lever</td>
            </tr>
            <tr>
              <td>Grip</td>
              <td colspan="4" class="center aligned">Standard AR15 grip (must be without beaver tail)</td>
            </tr>
            <tr>
              <td>Barrel</td>
              <td class="center aligned">LW 20", 1:17,7", choked</td>
              <td class="center aligned">RPB 24", 1:16", light choke</td>
              <td class="center aligned">RPB 24", 1:20", light choke</td>
              <td class="center aligned">LW 24", 1:16", choked</td>
            </tr>
            <tr>
              <td>Barrel length
                <div>cm</div>
                <div>inch</div>
              </td>
              <td class="center aligned">51 cm<br/>20"</td>
              <td class="center aligned">60 cm<br/>24"</td>
              <td class="center aligned">60 cm<br/>24"</td>
              <td class="center aligned">60 cm<br/>24"</td>
            </tr>
            <tr>
              <td>Arrow Barrel</td>
              <td colspan="4" class="center aligned">Available as an addition (Arrows X7 2212)</td>
            </tr>
            <tr>
              <td>Caliber Kits</td>
              <td colspan="4" class="center aligned">Different caliber kits can be bought as an addition so you can
              easily change a caliber of your rifle</td>
            </tr>
            <tr>
              <td>Trigger safety</td>
              <td colspan="4" class="center aligned">Yes</td>
            </tr>
            <tr>
              <td>Optics</td>
              <td colspan="4" class="center aligned">Picatinny rail 20 MOA</td>
            </tr>
            <tr>
              <td>Picatinny rail length</td>
              <td colspan="4" class="center aligned">190 mm (18 slots)</td>
            </tr>
            <tr>
              <td>Pressure gauge</td>
              <td colspan="4" class="center aligned">On the bottle which shows pressure in the bottle</td>
            </tr>
            <tr>
              <td>Total length</td>
              <td colspan="4" class="center aligned">Standard: 755 mm (29,7")<br/>Performance: 775 mm (30,5")</td>
            </tr>
            <tr>
            <tr>
              <td>Max height</td>
              <td colspan="4" class="center aligned">160 mm</td>
            </tr>
            <tr>
              <td>Max width</td>
              <td colspan="4" class="center aligned">35 mm</td>
            </tr>
            <tr>
              <td>Bottle diameter</td>
              <td colspan="4" class="center aligned">60 mm (2,36")</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td colspan="4" class="center aligned">
                3300 g (7,3 lbs)
              </td>
            </tr>
            <tr>
              <td>Charging type</td>
              <td colspan="4" class="center aligned">Foster coupling</td>
            </tr>
        </tbody></table>

      </div>
    </div>
  </div>




  <!-- <div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
      <div class="ui massive header">Advanced</div>
      <p>Advanced planning and testing.</p>
    </div>
  </div> -->

  <div id="sixth" class="ui vertical stripe segment bg-style gallery">
    <div class="ui container">

      <div class="ui three stackable cards">
        {% for image in site.static_files %}
          {% if image.path contains 'images/prophet2/gallery/small/' %}
            <div class="card">
              <div class="image">
                <a href="/images/prophet2/gallery/full/{{ image.name }}" data-lightbox="gallery">
                  <img class="" src="{{ image.path }}" alt="">
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
