.modal {
  .description{
    position: absolute;
    bottom: 0;
    padding: 10px;
    left: 0;
    width: 100%;
    background: rgba(79, 76, 76, 0.64);
    color: white;
    font-size: 1.4em;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  img{
    position: relative;
  }

  .image.content {
    position: relative;

    i.icon.left {
      position: absolute;
      top: 50%;
      left: -3px;
      cursor: pointer;
    }
    i.icon.right {
      top: 50%;
      position: absolute;
      right: -8px;
      cursor: pointer;
    }
  }
}
