.mora{
    .ui.segment.masthead {
      h1{
        font-family: "Audiowide";
        font-size: 7em;
        margin-top: 0.5em !important;
      }
    }
    #top img{
      max-width: 2000px;
    }
  }
  