.mora{
    .ui.segment.masthead {
      h1{
        font-family: "Audiowide";
        font-size: 7em;
        margin-top: 0.5em !important;
      }
    }
    #top img{
      max-width: 2000px;
    }
    .productheader .ui.segment.masthead {
        background: url(/images/mora/mora.svg) no-repeat center center / 80vh, 
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px 20px, 
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px 20px, 
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px 20px, 
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px 20px, 
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px), 
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424) 0 20px / 20px 20px !important;
        background-size: unset !important;
    }
  }
  