.prophet-compact{
  .ui.segment.masthead {
    h1{
      font-family: TrajanPro;
      // font-size: 6.5em;
    }
    h2 {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }
  #top img{
    max-width: 2000px;
  }
}
