.files.page {
  padding-top: 100px;
  .files-container {
    .product-cotainer {
      margin-bottom: 30px;
      h2 {
        text-align: center;
      }
      .file {

      }
      i {
        font-size: 2em;
      }
    }
  }
}
